<!-- <ul >
</ul> -->
<p>profile works</p>
<!-- <div *ngFor="let profile of profile ">
    <!-- <button class="btn btn-info" (click)='getRepo()'></button> -->
    <!-- <img height="50" width="50" src="{{avatar_url}}" alt="we wont work">
    <h1>
        
    </h1>
    
</div> --> 

<form action="" class="search-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    </div>
  </form>